<!DOCTYPE html>
  @{
      ViewBag.Title = "Create";
      Layout = "/Views/Shared/_LayoutPage.cshtml";
}

        <form action="/usuario/create" method="post">

            @*<div class="form-group">
                <label>UsuarioId</label>
                <input type="number" name="UsuarioId" required class="form-control" />
            </div>*@

            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="Nome" required class="form-control"  />
            </div>

            <div class="form-group">
            <label>Email</label>
                  <input type="email" name="Email" required class="form-control" />
            </div>

            <div class="form-group">
            <label>Senha</label>
                <input type="password" name="Senha" required class="form-control" />
            </div>
            <div class="form-group">
            <label>Categoria</label>
             <input type="text" name="Categoria" required class="form-control"/>
            </div>
            <button type="submit" class="btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Salvar</button>
            <a class="btn btn-default" href="/usuario/index">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Cancelar
            </a>

        </form>
  
