
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <!--/usuario/create?UsuarioId=3&Nome=Beltrano -->
        <form action="/usuario/create" method="post">

            <label>UsuarioId</label>
            <input type="number" name="UsuarioId"required min="0" step="0.1"/>

            <label>Nome</label>
            <input type="text" name="Nome" required />

            <label>Email</label>
            <input type="email" name="Email" required />

            <label>Senha</label>
            <input type="password" name="Senha" required />

            <button type="submit">Salvar</button>

        </form>
    </div>
</body>
</html>
