@model TodoWeb2.Models.Usuario
@{
    ViewBag.Title = "Update";
    Layout = "/Views/Shared/_LayoutPage.cshtml";
}

    <form action="/usuario/update/@Model.UsuarioId" method="post">
    @*<div class="form-group">
            <label>UsuarioId</label>
            <input type="number" name="UsuarioId" dusabled class="form-control" value="@Model.UsuarioId"/>
        </div>*@

    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="Nome" required class="form-control" value="@Model.Nome" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="Email" required class="form-control" value="@Model.Email" />
    </div>


    <button type="submit" class="btn-success">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Salvar
    </button>
    <a class="btn btn-default" href="/usuario/index">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Cancelar
    </a>
</Form>